name: Instagram Auto Poster

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"   # Günde 2 kez paylaşım

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install requirements
        run: |
          pip install instagrapi requests

      - name: Run bot
        env:
          INSTA_USER: ${{ secrets.INSTA_USER }}
          INSTA_PASS: ${{ secrets.INSTA_PASS }}
          INSTA_SESSION: ${{ secrets.INSTA_SESSION }}
        run: python bot.py
