name: Mystery Instagram Bot

on:
  schedule:
    - cron: "0 */8 * * *" # 10 resim çizmek uzun sürer, 8 saatte bir ideal.
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run bot
        env:
          # Instagram Bilgileri
          INSTA_USER: ${{ secrets.INSTA_USER }}
          INSTA_PASS: ${{ secrets.INSTA_PASS }}
          
          # Yapay Zeka Keyleri
          GEMINI_KEY: ${{ secrets.GEMINI_KEY }}
          HORDE_API_KEY: ${{ secrets.HORDE_API_KEY }}
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
          
        run: python bot.py
